body { font-family:"Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif; margin:10px; }
.hidden { display:none; }
button { background-color: transparent; border: 2px solid silver; border-radius: 4px; padding: 4px 8px; font-size: 14px; cursor: pointer; }
select { height:27px; }
#which-site { margin-top:6px; }
h1 { font-size:18px; margin:10px 0; }
#open-viewer-page-btn { float:right; }